<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="Store - Your Best Marketplace" />
    <meta name="author" content="" />
    <title>Store - Your Best Marketplace</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="../src/style/css/components/main.css" rel="stylesheet" />
  </head>
  <body>
    <skip-link></skip-link>
    <div id="content" class="page-content page-home">
      <home-page></home-page>
    </div>
    <footer>
      <footer-bar></footer-bar>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.slim.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="../app.js"></script>
    <script>
      AOS.init();
  </script>
  </body>
</html>
